<a href="https://colab.research.google.com/github/fralfaro/MAT281_2023/blob/main/docs/labs/lab_032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAT281 - Laboratorio N°03

Esta semana revisaremos datos del **Índice de Libertad de Prensa** que confecciona cada año la asociación de Reporteros Sin Fronteras.

> **Nota**: el conjunto a utilizar lo encuentra en el siguiente [link](https://drive.google.com/drive/folders/1zxiYb5ji_xa5_5tWxvdjCEGYRY9YvjR7?usp=drive_link).

## Diccionario de datos


|Variable       |Clase               |Descripción |
|:--------------|:-------------------|:-----------|
| codigo_iso | caracter | Código ISO del país |
| pais | caracter | País |
| anio | entero | Año del resultado |
| indice | entero | Puntaje Índice Libertad de Prensa (menor puntaje = mayor libertad de prensa) |
| ranking | entero | Ranking Libertad de Prensa |


## Fuente original y adaptación
Los datos fueron extraídos de [The World Bank](https://tcdata360.worldbank.org/indicators/h3f86901f?country=BRA&indicator=32416&viz=line_chart&years=2001,2019). La fuente original es [Reporteros sin Fronteras](https://www.rsf-es.org/).

Por otro lado, estos archivos han sido modificado intencionalmente para ocupar todo lo aprendido en clases. A continuación, una breve descripción de cada uno de los data frames:

* **libertad_prensa_codigo.csv**: contiene la información codigo_iso/pais. Existe un código que tiene dos valores.
* **libertad_prensa_anio.csv**: contiene la información pais/anio/indice/ranking. Los nombres de las columnas estan en mayúscula.

In [1]:
import numpy as np
import pandas as pd

from os import listdir
from os.path import isfile, join

In [2]:
#conectar con Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = "/content/drive/MyDrive/MAT281/libertad_prensa/"

archivos_anio = [path + f for f in listdir(path) if 'libertad_prensa_codigo' not in f ]
df_codigos = pd.read_csv(path + 'libertad_prensa_codigo.csv')

#Ordenar los archivos para una mejor lectura
archivos_anio.sort()

 El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Lo primero será juntar toda la información en un _solo archivo_, para ello necesitamos seguir los siguientes pasos:

 * a) Crear el archivo **df_anio**, que contenga la información de **libertad_prensa_anio.csv** para cada año. Luego, normalice el nombre de las columnas a minúscula.
 * b) Encuentre y elimine el dato que esta duplicado en el archivo **df_codigo**.
 * c) Crear el archivo **df** que junte la información del archivo **df_anio** con **df_codigo** por la columna _codigo_iso_.

> **Hint**: Para juntar por _anio_ ocupe la función **pd.concat**. Para juntar información por columna ocupe **pd.merge**.

In [4]:
from pandas.core.indexers.utils import length_of_indexer
#a)
df_anio = [pd.read_csv(x) for x in archivos_anio]

for i in range(len(df_anio)):
    df_anio[i].columns = df_anio[i].columns.str.lower()

df_anio

[    codigo_iso  anio  indice  ranking
 0          AFG  2001    35.5     59.0
 1          AGO  2001    30.2     50.0
 2          ALB  2001     NaN      NaN
 3          AND  2001     NaN      NaN
 4          ARE  2001     NaN      NaN
 ..         ...   ...     ...      ...
 175        WSM  2001     NaN      NaN
 176        YEM  2001    34.8     58.0
 177        ZAF  2001     7.5     86.0
 178        ZMB  2001    26.8     38.0
 179        ZWE  2001    48.3     76.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2002   40.17     78.0
 1          AGO  2002   28.00     46.0
 2          ALB  2002    6.50    100.0
 3          AND  2002     NaN      NaN
 4          ARE  2002   37.00     68.0
 ..         ...   ...     ...      ...
 175        WSM  2002     NaN      NaN
 176        YEM  2002   41.83     79.0
 177        ZAF  2002    3.33     48.0
 178        ZMB  2002   23.25     35.0
 179        ZWE  2002   45.50     84.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2003   28.25     49.0
 1          AGO  2003   26.50     44.0
 2          ALB  2003   11.50     11.0
 3          AND  2003     NaN      NaN
 4          ARE  2003   50.25     88.0
 ..         ...   ...     ...      ...
 175        WSM  2003     NaN      NaN
 176        YEM  2003   48.00     84.0
 177        ZAF  2003    5.00     86.0
 178        ZMB  2003   29.75     51.0
 179        ZWE  2003   67.50    108.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2004   39.17     62.0
 1          AGO  2004   18.00     26.0
 2          ALB  2004   14.17     17.0
 3          AND  2004     NaN      NaN
 4          ARE  2004   25.75     45.0
 ..         ...   ...     ...      ...
 175        WSM  2004     NaN      NaN
 176        YEM  2004   46.25     75.0
 177        ZAF  2004    6.50     93.0
 178        ZMB  2004   23.00     39.0
 179        ZWE  2004   64.25     97.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2005   44.25     67.0
 1          AGO  2005   21.50     36.0
 2          ALB  2005   18.00     24.0
 3          AND  2005     NaN      NaN
 4          ARE  2005   17.50     23.0
 ..         ...   ...     ...      ...
 175        WSM  2005     NaN      NaN
 176        YEM  2005   54.00     84.0
 177        ZAF  2005   11.25      6.0
 178        ZMB  2005   22.50     38.0
 179        ZWE  2005   50.00     77.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2006   56.50    107.0
 1          AGO  2006   26.50     55.0
 2          ALB  2006   25.50     53.0
 3          AND  2006     NaN      NaN
 4          ARE  2006   20.25     35.0
 ..         ...   ...     ...      ...
 175        WSM  2006     NaN      NaN
 176        YEM  2006   56.67    108.0
 177        ZAF  2006   13.00     16.0
 178        ZMB  2006   21.50     38.0
 179        ZWE  2006   62.00    115.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2007   59.25     92.0
 1          AGO  2007   29.50     48.0
 2          ALB  2007   16.00     18.0
 3          AND  2007     NaN      NaN
 4          ARE  2007   14.50     14.0
 ..         ...   ...     ...      ...
 175        WSM  2007     NaN      NaN
 176        YEM  2007   59.00     91.0
 177        ZAF  2007    8.00    108.0
 178        ZMB  2007   15.50     17.0
 179        ZWE  2007   54.00     87.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2008   54.25    103.0
 1          AGO  2008   36.50     73.0
 2          ALB  2008   21.75     43.0
 3          AND  2008     NaN      NaN
 4          ARE  2008   21.50     42.0
 ..         ...   ...     ...      ...
 175        WSM  2008     NaN      NaN
 176        YEM  2008   83.38    126.0
 177        ZAF  2008    8.50    123.0
 178        ZMB  2008   26.75     51.0
 179        ZWE  2008   46.50     90.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2009   51.67    105.0
 1          AGO  2009   28.50     64.0
 2          ALB  2009   21.50     45.0
 3          AND  2009     NaN      NaN
 4          ARE  2009   23.75     52.0
 ..         ...   ...     ...      ...
 175        WSM  2009   33.00     69.0
 176        YEM  2009   82.13    137.0
 177        ZAF  2009   12.00     10.0
 178        ZMB  2009   22.00     47.0
 179        ZWE  2009   39.50     81.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2012   37.36    112.0
 1          AGO  2012   37.80    114.0
 2          ALB  2012   30.88     87.0
 3          AND  2012    6.82    152.0
 4          ARE  2012   33.49     98.0
 ..         ...   ...     ...      ...
 175        WSM  2012   23.84     34.0
 176        YEM  2012   69.22    158.0
 177        ZAF  2012   24.56     38.0
 178        ZMB  2012   27.93     57.0
 179        ZWE  2012   38.12    117.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2013   37.07    117.0
 1          AGO  2013   36.50    113.0
 2          ALB  2013   29.92     74.0
 3          AND  2013    6.82    159.0
 4          ARE  2013   36.03    107.0
 ..         ...   ...     ...      ...
 175        WSM  2013   22.02     29.0
 176        YEM  2013   67.26    161.0
 177        ZAF  2013   23.19     31.0
 178        ZMB  2013   30.89     82.0
 179        ZWE  2013   39.19    124.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2014   37.44    116.0
 1          AGO  2014   37.84    117.0
 2          ALB  2014   28.77     76.0
 3          AND  2014   19.87     27.0
 4          ARE  2014   36.73    114.0
 ..         ...   ...     ...      ...
 175        WSM  2014   22.32     35.0
 176        YEM  2014   66.36    161.0
 177        ZAF  2014   22.06     34.0
 178        ZMB  2014   34.35    107.0
 179        ZWE  2014   39.19    124.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2015   37.75    114.0
 1          AGO  2015   39.89    117.0
 2          ALB  2015   29.92     78.0
 3          AND  2015   19.87     29.0
 4          ARE  2015   36.73    113.0
 ..         ...   ...     ...      ...
 175        WSM  2015   18.80     25.0
 176        YEM  2015   67.07    163.0
 177        ZAF  2015   21.92     35.0
 178        ZMB  2015   35.08    108.0
 179        ZWE  2015   40.41    118.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2016     NaN    114.0
 1          AGO  2016     NaN    119.0
 2          ALB  2016     NaN     72.0
 3          AND  2016     NaN     32.0
 4          ARE  2016     NaN    113.0
 ..         ...   ...     ...      ...
 175        WSM  2016     NaN     18.0
 176        YEM  2016     NaN    158.0
 177        ZAF  2016     NaN     28.0
 178        ZMB  2016     NaN    108.0
 179        ZWE  2016     NaN    122.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2017   39.46    120.0
 1          AGO  2017   40.42    125.0
 2          ALB  2017   29.92     76.0
 3          AND  2017   21.03     35.0
 4          ARE  2017   39.39    119.0
 ..         ...   ...     ...      ...
 175        WSM  2017   16.41     21.0
 176        YEM  2017   65.80    166.0
 177        ZAF  2017   20.12     31.0
 178        ZMB  2017   36.48    114.0
 179        ZWE  2017   41.44    128.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2018   37.28    118.0
 1          AGO  2018   38.35    121.0
 2          ALB  2018   29.49     75.0
 3          AND  2018   22.21     37.0
 4          ARE  2018   40.86    128.0
 ..         ...   ...     ...      ...
 175        WSM  2018   16.69     22.0
 176        YEM  2018   62.23    167.0
 177        ZAF  2018   20.39     28.0
 178        ZMB  2018   35.36    113.0
 179        ZWE  2018   40.53    126.0

 [180 rows x 4 columns],
     codigo_iso  anio  indice  ranking
 0          AFG  2019   36.55    121.0
 1          AGO  2019   34.96    109.0
 2          ALB  2019   29.84     82.0
 3          AND  2019   24.63     37.0
 4          ARE  2019   43.63    133.0
 ..         ...   ...     ...      ...
 175        WSM  2019   18.25     22.0
 176        YEM  2019   61.66    168.0
 177        ZAF  2019   22.19     31.0
 178        ZMB  2019   36.38    119.0
 179        ZWE  2019   42.23    127.0

 [180 rows x 4 columns]]

In [5]:
#b)
df_codigos = df_codigos.drop_duplicates('codigo_iso')

df_codigos

    codigo_iso                    pais
0          AFG             Afghanistán
1          AGO                  Angola
2          ALB                 Albania
3          AND                 Andorra
4          ARE  Emiratos Árabes Unidos
..         ...                     ...
175        WSM                   Samoa
176        YEM                   Yemen
177        ZAF               Sudáfrica
178        ZMB                  Zambia
179        ZWE                Zimbabue

[180 rows x 2 columns]

In [6]:
#c)
df = pd.concat(df_anio)
df = pd.merge(df, df_codigos, on = 'codigo_iso')

df

     codigo_iso  anio  indice  ranking         pais
0           AFG  2001   35.50     59.0  Afghanistán
1           AFG  2002   40.17     78.0  Afghanistán
2           AFG  2003   28.25     49.0  Afghanistán
3           AFG  2004   39.17     62.0  Afghanistán
4           AFG  2005   44.25     67.0  Afghanistán
...         ...   ...     ...      ...          ...
3055        ZWE  2015   40.41    118.0     Zimbabue
3056        ZWE  2016     NaN    122.0     Zimbabue
3057        ZWE  2017   41.44    128.0     Zimbabue
3058        ZWE  2018   40.53    126.0     Zimbabue
3059        ZWE  2019   42.23    127.0     Zimbabue

[3060 rows x 5 columns]

2. Encontrar:
   * ¿Cuál es el número de observaciones en el conjunto de datos?   
   * ¿Cuál es el número de columnas en el conjunto de datos?   
   * Imprime el nombre de todas las columnas  
   * ¿Cuál es el tipo de datos de cada columna?
   * Describir el conjunto de datos (**hint**: .describe())

In [7]:
print('El número de filas es:')
df.shape[0]

El número de filas es:

3060

In [8]:
print('El número de columnas es:')
df.shape[1]

El número de columnas es:

5

In [9]:
print('Las columnas son:')
df.columns

Las columnas son:

Index(['codigo_iso', 'anio', 'indice', 'ranking', 'pais'], dtype='object')

In [10]:
print('El tipo de dato de cada columna:')
df.dtypes

El tipo de dato de cada columna:

codigo_iso     object
anio            int64
indice        float64
ranking       float64
pais           object
dtype: object

In [11]:
df.describe()

              anio        indice        ranking
count  3060.000000   2664.000000    2837.000000
mean   2009.941176    205.782316     477.930913
std       5.786024   2695.525264    6474.935347
min    2001.000000      0.000000       1.000000
25%    2005.000000     15.295000      34.000000
50%    2009.000000     28.000000      70.000000
75%    2015.000000     41.227500     110.000000
max    2019.000000  64536.000000  121056.000000

3. Desarrolle una función `resumen_df(df)` para encontrar el total de elementos distintos y vacíos por columnas.

In [12]:
# respuesta

def resumen_df(df):
    """
    funcion resumen con elementos distintos y vacios por columnas
    """
    nombres = df.columns
    result = pd.DataFrame({'nombres': nombres})

    l_vacios = []
    l_difer = []

    for x in nombres:
      l_vacios.append(df[x].isna().sum())
      l_difer.append(df[x].nunique())

    result['elementos_distintos'] = l_difer
    result['elementos_vacios'] = l_vacios

    return result

In [13]:
# retornar
resumen_df(df)

      nombres  elementos_distintos  elementos_vacios
0  codigo_iso                  180                 0
1        anio                   17                 0
2      indice                 1550               396
3     ranking                  193               223
4        pais                  179                 0

4. Para los paises latinoamericano, encuentre por año  el país con mayor y menor `indice`.

 * a) Mediante un ciclo _for_.
 * b) Mediante un  _groupby_.

In [90]:
# respuesta
america = ['ARG', 'ATG', 'BLZ', 'BOL', 'BRA', 'CAN', 'CHL', 'COL', 'CRI',
       'CUB', 'DOM', 'ECU', 'GRD', 'GTM', 'GUY', 'HND', 'HTI', 'JAM',
       'MEX', 'NIC', 'PAN', 'PER', 'PRY', 'SLV', 'SUR', 'TTO', 'URY',
       'USA', 'VEN']

#a)
df_copia = df.sort_values(by = ['anio', 'indice'], ascending= True)
df_america = df_copia[df['codigo_iso'].isin(america)]

print('Los paises con menor indice por año son:')
print()
print('año \t indice \t Pais')

for valor in range(0,df_america.shape[0],len(america)):
    print(df_america.iloc[valor]['anio'], '\t', df_america.iloc[valor]['indice'],'\t', df_america.iloc[valor]['pais'] )

Los paises con menor indice por año son:

año 	 indice 	 Pais
2001 	 0.8 	 Canadá
2002 	 1.0 	 Trinidad y Tobago
2003 	 2.0 	 Trinidad y Tobago
2004 	 2.0 	 Trinidad y Tobago
2005 	 4.5 	 Bolivia
2006 	 4.88 	 Canadá
2007 	 3.33 	 Canadá
2008 	 3.7 	 Canadá
2009 	 6.75 	 Estados Unidos
2012 	 9.88 	 Jamaica
2013 	 10.9 	 Jamaica
2014 	 10.99 	 Canadá
2015 	 11.1 	 Costa Rica
2016 	 nan 	 Argentina
2017 	 11.93 	 Costa Rica
2018 	 11.33 	 Jamaica
2019 	 11.13 	 Jamaica

<ipython-input-90-5bd122c3c714>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_america = df_copia[df['codigo_iso'].isin(america)]

In [99]:
from sqlalchemy import false
print('Los paises con mayor indice por año son:')
print()
print('año \t indice \t Pais')

df_copia = df.sort_values(by = ['anio', 'indice'], ascending= False)
df_america = df_copia[df['codigo_iso'].isin(america)]

for valor in range(0,df_america.shape[0],len(america)):
    print(df_america.iloc[valor]['anio'], '\t', df_america.iloc[valor]['indice'],'\t', df_america.iloc[valor]['pais'] )

Los paises con mayor indice por año son:

año 	 indice 	 Pais
2019 	 63.81 	 Cuba
2018 	 68.9 	 Cuba
2017 	 71.75 	 Cuba
2016 	 nan 	 Argentina
2015 	 70.23 	 Cuba
2014 	 70.21 	 Cuba
2013 	 70.92 	 Cuba
2012 	 71.64 	 Cuba
2009 	 78.0 	 Cuba
2008 	 94.0 	 Cuba
2007 	 88.33 	 Cuba
2006 	 96.17 	 Cuba
2005 	 95.0 	 Cuba
2004 	 87.0 	 Cuba
2003 	 35826.0 	 Argentina
2002 	 97.83 	 Cuba
2001 	 90.3 	 Cuba

<ipython-input-99-8ec82ebc7834>:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_america = df_copia[df['codigo_iso'].isin(america)]

In [53]:
#b)
df_copia = df.sort_values(by = 'indice', ascending= True)
df_america = df_copia[df['codigo_iso'].isin(america)] #Separar a los paises de america
grupo = df_america.groupby( 'anio') #agupar por año
print('Los paises con el menor indice por año son:')
grupo.first()

Los paises con el menor indice por año son:

<ipython-input-53-9a34643efba7>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_america = df_copia[df['codigo_iso'].isin(america)] #Separar a los paises de america

     codigo_iso  indice  ranking               pais
anio
2001        CAN    0.80      2.0             Canadá
2002        TTO    1.00      2.0  Trinidad y Tobago
2003        TTO    2.00     30.0  Trinidad y Tobago
2004        TTO    2.00     31.0  Trinidad y Tobago
2005        BOL    4.50     63.0            Bolivia
2006        CAN    4.88     84.0             Canadá
2007        CAN    3.33     50.0             Canadá
2008        CAN    3.70     62.0             Canadá
2009        USA    6.75    115.0     Estados Unidos
2012        JAM    9.88    176.0            Jamaica
2013        JAM   10.90      6.0            Jamaica
2014        CAN   10.99      3.0             Canadá
2015        CRI   11.10      2.0         Costa Rica
2016        ARG     NaN     47.0          Argentina
2017        CRI   11.93      6.0         Costa Rica
2018        JAM   11.33      6.0            Jamaica
2019        JAM   11.13      8.0            Jamaica

In [48]:
df_copia = df.sort_values(by = 'indice', ascending= False)
df_america = df_copia[df['codigo_iso'].isin(america)] #Separar a los paises de america
grupo = df_america.groupby( 'anio') #agupar por año
print('Los paises con el mayor indice por año son:')
grupo.first()

Los paises con el mayor indice por año son:

<ipython-input-48-514a4866f1ee>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_america = df_copia[df['codigo_iso'].isin(america)] #Separar a los paises de america

     codigo_iso    indice  ranking       pais
anio
2001        CUB     90.30     99.0       Cuba
2002        CUB     97.83    125.0       Cuba
2003        ARG  35826.00     35.0  Argentina
2004        CUB     87.00    112.0       Cuba
2005        CUB     95.00    109.0       Cuba
2006        CUB     96.17    139.0       Cuba
2007        CUB     88.33    117.0       Cuba
2008        CUB     94.00    131.0       Cuba
2009        CUB     78.00    129.0       Cuba
2012        CUB     71.64    162.0       Cuba
2013        CUB     70.92    166.0       Cuba
2014        CUB     70.21    164.0       Cuba
2015        CUB     70.23    164.0       Cuba
2016        ARG       NaN     47.0  Argentina
2017        CUB     71.75    173.0       Cuba
2018        CUB     68.90    172.0       Cuba
2019        CUB     63.81    169.0       Cuba

In [15]:
print('El pais con el mayor indice es:')
print(grupo[['indice']].max().reset_index().max())

El pais con el mayor indice es:
anio       2019.0
indice    35826.0
dtype: float64

5. Para cada _país_, muestre el _indice_ máximo que alcanzo por _anio_. Para los datos nulos, rellene con el valor **0**.

**Ejemplo**:

<img src="https://drive.google.com/uc?export=view&id=1ob0qch1dsOjDOUuZXnCY0HU_3XPp19gV" width = "700" align="center"/>

> **Hint**: Utilice la función **pd.pivot_table**.

In [16]:
df.groupby(['pais','anio']).max()
df_pivot = df.pivot_table(index="codigo_iso", columns="anio", values="indice", fill_value= 0, aggfunc=np.max)
df_pivot

anio,2001,2002,2003,2004,2005,2006,2007,2008,2009,2012,2013,2014,2015,2017,2018,2019
codigo_iso,,,,,,,,,,,,,,,,
AFG,35.5,40.17,28.25,39.17,44.25,56.50,59.25,54.25,51.67,37.36,37.07,37.44,37.75,39.46,37.28,36.55
AGO,30.2,28.00,26.50,18.00,21.50,26.50,29.50,36.50,28.50,37.80,36.50,37.84,39.89,40.42,38.35,34.96
ALB,0.0,6.50,11.50,14.17,18.00,25.50,16.00,21.75,21.50,30.88,29.92,28.77,29.92,29.92,29.49,29.84
AND,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,6.82,6.82,19.87,19.87,21.03,22.21,24.63
ARE,0.0,37.00,50.25,25.75,17.50,20.25,14.50,21.50,23.75,33.49,36.03,36.73,36.73,39.39,40.86,43.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,33.00,23.84,22.02,22.32,18.80,16.41,16.69,18.25
YEM,34.8,41.83,48.00,46.25,54.00,56.67,59.00,83.38,82.13,69.22,67.26,66.36,67.07,65.80,62.23,61.66
ZAF,7.5,3.33,5.00,6.50,11.25,13.00,8.00,8.50,12.00,24.56,23.19,22.06,21.92,20.12,20.39,22.19
ZMB,26.8,23.25,29.75,23.00,22.50,21.50,15.50,26.75,22.00,27.93,30.89,34.35,35.08,36.48,35.36,36.38
ZWE,48.3,45.50,67.50,64.25,50.00,62.00,54.00,46.50,39.50,38.12,39.19,39.19,40.41,41.44,40.53,42.23